html{
    scroll-behavior: smooth;
}
body{
    background-color: #e8dfda;
    font-family: Microsoft JhenHei;
    margin: 0px;
    padding: 0px;
    color: #333;
}
nav{
    background-color: #d9cfc7;
    text-align: center;
    padding: 10px 0;
}

nav a{
    text-decoration: none;
    color: #333;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover{
    background-color: #c9b59c;
    color: white;
}

.about{
    display: flex;
    flex-direction: column;  
    align-items: center;
    margin: 60px auto;
    gap: 30px;
    max-width: 900px;
    font-family: Noto Sans TC,sans-serif;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.avatar{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: url(photo.img.jpg) center/cover no-repeat;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    flex-shrink: 0;
}

.info {
  text-align: left;
  background-color: #f7f4f2;
  padding: 25px 40px;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.contact-icons a img{
    width: 30px;
    vertical-align: middle;
    margin-right: 30px;
}

.info h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #4b3f3f;
}

.info p {
  margin: 6px 0;
  font-size: 24px;
  color: #555;
}

.slogan {
  background-color: #d6c2e2;
  border-radius: 25px;
  padding: 40px 60px;
  font-size: 24px;
  color: #3a2d2d;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
  width: fit-content;
}

.skill h2{
    background-color: #d6c2e2;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    padding: 8px 16px;
    border-radius: 12px;
    margin-left: 30px;
}

.skills{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 20px;
}

.bar-section {
    width: 70%;
    max-width: 700px;
    margin: 0 auto;
    padding: 20px 0;
}

.bar-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}

.label {
    width: 120px;
    font-size: 18px;
    text-align: center;
    margin: 15px;
}

.bar {
    width: 60%;
    height: 20px;
    background-color: #dab9d3;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 15px;
    border: 3px solid #b08da8;
}

.bar-fill {
    height: 100%;
    background-color: #c4b7c9;
    border-radius: 10px;
    width: 0;
    transition: width 1.2s ease-out;
}

.percent {
    width: 50px;
    font-size: 18px;
    text-align: left;
}

.work h2{
    background-color: #d6c2e2;
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    padding: 8px 16px;
    border-radius: 12px;
    margin-left: 30px;
}

.work-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin: 20px 30px;
}
.work-content{
    display: flex;
    align-items: center;
    margin: 20px 30px;
    gap: 20px;
}

.img-box1{
    width: 200px;
    height: 180px;
    background: url(work/classroom.jpg)center/cover no-repeat;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex-shrink: 0;
    border-radius: 10px;
}

.text-box1{
    background-color: #d6c2e2;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}

h4{
    text-align: center;
}

.img-box2{
    width: 200px;
    height: 180px;
    background: url(work/restaurant.jpg)center/cover no-repeat;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex-shrink: 0;
    border-radius: 10px;
}

.text-box2{
    background-color: #d6c2e2;
    padding: 10px;
    border-radius: 10px;
    flex: 1;
}
.activity h2{
    background-color: #d6c2e2;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 12px;
    margin-left: 30px;
}

.activity-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px 30px; 
}

.activity-item{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #f3edf7;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.img-box3{
    width: 200px;
    height: 180px;
    background: url(activity/Elementary\ school\ camp.jpg)center/cover no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex-shrink: 0;
    border-radius: 10px;
}

.text-box3{
    background-color: #d6c2e2;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    text-align: left;
}

.img-box4{
    width: 200px;
    height: 180px;
    background: url(activity/tea\ party.jpg)center/cover no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex-shrink: 0;
    border-radius: 10px;
}

.text-box4{
    background-color: #d6c2e2;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    text-align: left;
}

.img-box5{
    width: 200px;
    height: 180px;
    background: url(activity/University\ camp.JPG)center/cover no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    flex-shrink: 0;
    border-radius: 10px;
}

.text-box5{
    background-color: #d6c2e2;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
    text-align: left;
}

.back-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color:#f4a460;
    color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.3s;
}

.back-btn:hover{
    background-color: #c97e41;
    transform: scale(1.1);
}

footer{
    background-color: bisque;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}